@import '../mixins';

.data-component {
    @include component-style();

    .data-component-label {
        @include component-label-style();
    }
    .data-container {
        @include grid-style();

        .data-item {
            border: solid 2px #8e8e8e;
            background-color: #f4f5f7;
            border-radius: 6px;
            box-shadow: 0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -1px rgba(0,0,0,.06);
            width: 247px;
            .label {
                font-size: 18px;

                margin-left: 10px;
            }
            .content-container {
                height: 150px;
                overflow: auto;

                margin-left: 10px;

                scrollbar-color: #777777 white;
                scrollbar-width: thin;
            }
            .button-container {
                display: flex;
                justify-content: space-around;

                button {
                    margin-bottom: 10px;
                    padding: 5px;
                    border: solid 2px transparent;
                    border-radius: 13px;
                    cursor: pointer;
                }

                .primary {
                    background-color: rgb(65 86 159);
                    color: #fff;

                    &:hover {
                        background-color: rgb(47 61 113);
                    }

                    &:active {
                        background-color: rgb(22 35 83);
                    }
                }

                .secondary {
                    background-color: #ffffff;
                    color: #2c2c2c;
                    border: solid 2px #d4d1d1;

                    &:hover {
                        background-color: #f1f1f1;
                        border-color: #c9c6c6;
                    }

                    &:active {
                        background-color: #dedddd;
                        border-color: #a8a4a4;
                    }
                }
            }
        }
    }
}
